/*
 * BASE
 */
*{
	margin: 0;
	padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: #6ab344;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
  white-space: nowrap;
}
a:hover{
  color: #64ffda;
}
h2{
  color: #212121;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
}
p{
  color: #212121;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}
article{
  text-align: center;
  width: 100%;
}

#menu_footer{
  background-color: #f0f0f0;
  text-align: left;
  width: 100%;
  display: block;
  float: left;
}

#idioma{
  *margin-left:450px;
  position: absolute;
  right: 10px;
  margin-top: -10px;
}

/*** section_2 ***/
#section_2 #art_1{
  margin: 0 auto;
  padding: 80px 0; 
  width: 40%;
}

#section_2 #art_2{
  margin: 0 auto;
  padding: 80px 0; 
  float: right;
}
.zoom{
  display: inline-block;
}
.zoom p{
  color: #6ab344;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 70px;
  text-transform: uppercase;
  white-space: nowrap;
}
#zoom_1{
  width: 140px;
}
#img_1{
  width: auto;
  height: 100px;
}
#zoom_2{
  width: 100px;
}
#img_2{
  width: auto;
  height: 135px;
}
#zoom_3{
  width: 120px;
}
#img_3{
  width: auto;
  height: 160px;
}
#zoom_4{
  width: 300px;
  padding-right: 350px;
}
#img_4{
  width: auto;
  height: 180px;
}
#zoom_5{
  position: absolute;
  right: 0;
  display: inline;
  width: 470px;
  height: 385px;
  background: url(../img/auto-on.jpg) 0 -150px;
  display:inline-block;
  vertical-align: top;
  margin-top: -200px;
}
#zoom_5 p{
  position: absolute;
  margin-top:385px;
}

/*** section_3 ***/
#fondo_monos{
  background-image: url(../img/wear3-1600.png);
  height: 545px;
  width: auto;
}
#section_3{
  margin-top: 415px;
}
#section_3_info{
  background-color: #455a64;
  text-align: left;
  padding: 39px 0px;
  padding-left: 12%;
  width: calc(100% - 12%);
}
#section_3_info h2{
  color: #ffffff;
  font-size: 40px;
  font-weight: 100;
  line-height: 48px;
  font-stretch:expanded;
}

#section_3_info h3{
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  line-height: 26px;
  font-stretch:condensed;
  padding: 15px 0;
}

#section_3_info a{
  color: #64ffda;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
  white-space: nowrap;
}

#section_3_info a:hover{
  color: #00bfa5;;
}

#section_4{
  padding: 80px 0px 0px 0px;
}

#section_4 article p{
  max-width: 520px;
  margin: 0 auto;
  padding: 20px 0;
}

#section_4 article a{
  color: #6ab344;
}

#fondo_productos{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url(../img/devices.jpg);
  background-size: cover;
  height: 398px;
  width: 100%;
  margin: 0 auto;
}

#section_5{
  border-bottom: solid 1px #e6e6e6;
  border-top: solid 1px #e6e6e6;
  padding: 60px 0px 25px 0px;
}

#section_5 h1{
  display: block;
  font-size: 1.5em;
  font-weight: normal;
  color: #212121;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  text-align: left;
  padding-left: 160px;
}

#contenido_info_2{
  display: none;
}
.contenido_info{
  width: 100%;
  display: inline;
}
.bloque{
  width: 330px;
  display: inline-block;
  clear: both;
  box-shadow: 0px 5px 5px #888888;
  margin: 8px;
  border-radius: 2px;
}

.info_imagen{
  width: 330px;
  height: 221px;
}

.info_imagen img{
  border-radius: 2px;
}

.info{
  padding: 10px;
  height: 180px;
  text-align: left;
  margin: 0px 20px;
}

.info h3{
  display: block;
  font-size: 1.17em;
  padding: 10px 0;
  font-weight: bold;
}

.info p{
  display: block;
  padding: 10px 0;
  text-align: justify;
}

.info_link{
  padding: 10px;
  text-align: left;
  margin: 10px 20px;
}

.info_link a{
  color: #6ab344;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
  white-space: nowrap;
}

.info_link a:hover{
  color: #339600;
}

.info_imagen img{
  width: 100%;
}

#control_info{
  width: 100%;
}
#control_info li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  margin-top: 30px;
}
#control_info li a {
  width: 15px;
  height: 15px;
  display: block;
  background: #666;
  *background: rgba(0, 0, 0, 0.5);
  background: #dcdcdc;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#control_info li a:hover{
  background: #000;
  background: #6ab344;
  cursor: pointer;
}

/*** section_5 ***/
#section_6{
  background-color: #fafafa;
  padding: 40px;
}

#ir_arriba{
  text-align: right;
}

#ir_arriba a{
  color:#757575;
}

#ir_arriba a:hover{
  color:#6ab344;
  cursor: pointer;
}

#section_6 article{
  text-align: left;
}

#redes_sociales span{
  font-size: 40px;
  color: #999999;
  margin-right: 10px;
}

#section_6 p{
  color: #212121;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
  padding: 15px 0px 0px 0px;
}

#icon-google-plus2:hover{
  color: #DD4B39;
}
#icon-twitter:hover{
  color: #55acee;
}
#icon-facebook2:hover{
  color: #3a5795;
}
#icon-youtube:hover{
  color: red;
}
#icon-blogger2:hover{
  color: rgb(255, 102, 0);
}
#ready_for_you{
  margin-top: 15px;
  height: 400px;
  width: 630px;
}
#cuarta_img{
  background-color: rgba(250,250,250,1);
  height: 550px;
}
#cuarta_img span{
  height: 50px;
  border: solid red 1px;
}
.control{
  width: 100%;
  height: 84px;
  border-bottom: solid 1px #e6e6e6;
}

/*
 * MENÚ
 */
.fixed {
    position:fixed;
    top: 0px;
    width: 100%;
    left:0px;
    z-index: 1000;
}
.scrolling {
    margin-top:40px !important;
}
.logo{
  width: 140px;
  height: auto;
  margin-left: 24px;
  margin-top: 26px;
  float: left;
}
#menu_logo2, #menu_icon_menu{
  display: none;
}
.logo_footer{
  width: 90px;
  height: auto;
  margin-left: 24px;
  margin-top: 26px;
  float: left;
}
nav{
  width: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color: rgba(255,255,255,1);
  text-align: right;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
nav ul li{
  display: inline-block;
  vertical-align: middle;
  margin-left: -5px;
}
nav ul li a, #lupa, #icon_menu{
  color: #757575;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 24px;
  padding: 16px;
  position: relative;
  white-space: nowrap;
}
nav ul li a #lupa, #icon_menu{
  font-size: 20px;
  padding: 12px 0px;
}
nav ul li a:hover, #lupa:hover, #icon_menu:hover{
  color: #6ab344;
}
.icon-caret {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  height: 0;
  margin-left: 2px;
  vertical-align: bottom;
  width: 0;
}

/*
 * MENÚ RESPONSIVO
 */
.menu_lateral{
  display: none;
  width: 45%;
  background: rgba(255,255,255,1);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  max-height: 630px;
  overflow:scroll;
}
.menu_lateral ul li a{
  color: #757575;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  line-height: 24px;
  padding: 16px;
  position: relative;
  white-space: nowrap;
}
.menu_lateral ul li a:hover{
  color: #6ab344;
}
#logo_menu_lateral{
  height: 24px;
  width: 120px;
}
#li_menu_lateral{
  background: #6ab344;
  padding: 100px 0px 0px;
}
/*
 * SUB MENUS CON IMAGENES
 */
.sub_menu_imagenes{
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  text-align: center;
  height: 185px;
  width: 100%;
  background-color: rgba(255,255,255, 1);
  display: none;
  position: absolute;
  left: 0px;
  top: 80px;
  z-index: 1;
}
.sub_menu_imagenes ul li{
  display: inline-block;
}
.sub_menu_imagenes ul li span{
  vertical-align: text-bottom;
  display: block;
  margin-top: 120px;
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.sub_menu_imagenes ul li:hover span{
  cursor: pointer;
  color: #6ab344;
}
.sub_menu_img{
  *border: solid 1px blue;
  margin: 2px 23px;
  display:inline-block;
  vertical-align: top;
  padding: 14px 0px;
  height: 130px;
}
#sub_menu_discover_img_1{
  width: 150px;
  background: url(../img/nav-sprite.png) -300px -150px;
}
#sub_menu_discover_img_2{
  width: 150px;
  background: url(../img/nav-sprite.png) -150px -300px;
}
#sub_menu_discover_img_3{
  width: 150px;
  background: url(../img/nav-sprite.png) -300px 0;
}
#sub_menu_discover_img_4{
  width: 150px;
  background: url(../img/nav-sprite.png) 0 0;
}
#sub_menu_discover_img_5{
  width: 150px;
  background: url(../img/nav-sprite.png) 0 -450px;
}
#sub_menu_devices_img_1{
  width: 150px;
  background: url(../img/nav-sprite.png) 0px -300px;
}
#sub_menu_devices_img_2{
  width: 150px;
  background: url(../img/nav-sprite.png) -150px -150px;
}
#sub_menu_devices_img_3{
  width: 150px;
  background: url(../img/nav-sprite.png) -150px 0;
}
#sub_menu_devices_img_4{
  width: 150px;
  background: url(../img/nav-sprite.png) 0 -150px;
}
#sub_menu_devices_img_5{
  width: 150px;
  background: url(../img/nav-sprite.png) -300px -300px;
}

/*
 * SUB MENUS INFO
 */
.sub_menu_info_abajo{
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  text-align: center;
  height: 185px;
  background-color: rgba(255,255,255, 1);
  display: none;
  position: absolute;
  right: 50px;
  top: 80px;
  z-index: 1;
}

.sub_menu_info_abajo ul li{
  display: inline;
}

.sub_menu_info_abajo ul li a{
  vertical-align: text-bottom;
  display: block;
  color: #757575;
  font-size: 16px;
  line-height: 24px;
  margin: 15px 20px;
}

#opc_principal{
  width: 100%;
  height: 40px;
  border-bottom: solid 1px #e6e6e6;
  margin-left: 0px;
}

.sub_menu_info_abajo ul li a:hover{
  cursor: pointer;
  color: #6ab344;
}

/*
 *CONTENIDO SLIDER
 */
.flexslider, .flexslider-controls {
  width: 100%;
}
.slide_text { top:50px; left: 10%; width: 80%; height: 500px; color: rgba(0,0,0,1); display: block; position: absolute; zoom: 1;}
.txt_blanco{ color: rgba(255,255,255,1); }
span{ font-weight: bold; }
.link_btn{ background-color: red; color: #ffffff; font-size: 16px; padding: 10px 15px; border-radius: 3px; }
.slide_text h1{
  color: rgba(0,0,0,1);
  font-size: 40px;
  font-weight: 100;
  font-stretch:expanded;
}
.slide_text p{
  color: rgba(0,0,0,1);
  font-size: 18px;
  font-weight: 100;
  font-stretch:expanded;
}
.slide_text #img_1{
  height: 250px;
}
.left{
  display: inline-block;
  width: 50%;
  float: left;
  text-align: left;
}
.width_200{
  width: 200px;
  float: right;
}

/*
 * MEDIA QUERIES
 */
@media (max-width: 1200px) {
  /*** section_2 ***/
  #zoom_1{
    width: 120px;
  }
  #img_1{
    height: 80px;
  }
  #zoom_2{
    width: 80px;
  }
  #img_2{
    height: 115px;
  }
  #zoom_3{
    width: 100px;
  }
  #img_3{
    height: 140px;
  }
  #zoom_4{
    width: 280px;
    padding-right: 100px;
  }
  #img_4{
    height: 160px;
  }
  #zoom_5{
    width: 280px;
    height: 240px;
    background: url(../img/auto-on.jpg) 0 -240px;
    margin-top: -80px;
    background-size: 600px 243px;
  }
  #zoom_5 p{
    margin-top:245px;
  }

  /*** section_5 ***/
  #section_5 .contenido_info .bloque, 
  #section_5 .contenido_info .bloque .info_imagen{
      width: 300px;
  }
  .bloque{
    margin: 5px;
  }
}
@media (max-width: 1024px) {
  /*** section_5 ***/
  #section_5 .contenido_info .bloque, 
  #section_5 .contenido_info .bloque .info_imagen{
      width: 270px;
  }
  .info{
    height: 200px;
  }
  #zoom_5{
    width: 280px;
    background: url(../img/auto-on.jpg) 0 -240px;
    background-size: 600px 243px;
  }
  #section_5 h1{
    padding-left: 100px;
  }

  /*** section_5 ***/
  #zoom_4{
    padding-right: 250px;
  }
}
@media (max-width: 900px) {
  /*** section_2 ***/
  .zoom p{
    font-size: 12px;
  }
  #zoom_1{
    width: 105px;
  }
  #img_1{
    height: 70px;
  }
  #zoom_2{
    width: 65px;
  }
  #img_2{
    height: 105px;
  }
  #zoom_3{
    width: 85px;
  }
  #img_3{
    height: 130px;
  }
  #zoom_4{
    width: 265px;
    padding-right: 200px;
  }
  #img_4{
    height: 150px;
  }
  #zoom_5{
    width: 220px;
    height: 250px;
    background: url(../img/auto-on.jpg) 0 -240px;
    margin-top: -80px;
    background-size: 600px 243px;
  }
  #zoom_5 p{
    margin-top:235px;
  }

  /*** section_5 ***/
  #section_5 .contenido_info .bloque, 
  #section_5 .contenido_info .bloque .info_imagen{
      width: 245px;
  }
  .bloque{
    margin: 0px;
  }
  .info{
    height: 250px;
  }
  #section_5 h1{
    padding-left: 10px;
  }

  /*** Foooter ***/
  .li_footer{
    display: none;
  }
  #ir_arriba{
    text-align: left;
  }
  #redes_sociales{
    display: none;
  }
}
@media (max-width: 850px) {
  /*** Menú ***/
  .li_header{
    display: none;
  }
  nav{
    text-align: center;
  }
  #menu_icon_menu{
    width: 32%;
    height: 50px;
    margin: 0;
    padding: 0;
  }
  #menu_logo2, #menu_icon_menu{
    display: inline-table;
  }
  #menu_logo2{
    width: 32%;
    height: 50px;
    margin: 0;
    padding: 0;
  }
  #menu_lupa{
    width: 32%;
    height: 50px;
    margin: 0;
    padding: 0;
  }
  #icon_menu{
    margin-top: -13px;
    text-align: left;
  }
  #logo2{
    margin-top: -5px;
    text-align: center;
  }
  #lupa{
    margin-top: -13px;
    text-align: right;
  }

  /*** section_6 ***/
  #section_6{
    padding: 20px;
  }
}
@media (max-width: 768px) {
  /*** Menú ***/
  #menu_icon_menu{
    width: 28%;
  }
  #menu_logo2{
    width: 28%;
  }
  #menu_lupa{
    width: 28%;
  }

  /*** slider ***/
  .slide_text h1{
    font-size: 30px;
  }
  .slide_text h2{
    font-size: 30px;
  }
  #slider_img1 .slide_text h2{
    color: rgba(255,255,255,1);
    font-size: 30px;
  }
  .slide_text p{
    font-size: 16px;
  }
  .slide_text #img_1{
    height: 150px;
  }
  .width_200{
    width: 170px;
    float: right;
  }

  /*** section_2 ***/
  #section_2 #art_1{
    padding: 20px; 
    width: calc(100% - 40px);
    text-align: left;
    background-color: #fafafa;
  }
  #section_2 #art_1 h2{
    font-size: 30px;
    font-weight: 100;
    line-height: 70px;
  }

  #section_2 #art_2{
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    height: 953px;
    background-color: #fafafa;
    border-bottom: solid 1px #e6e6e6;
  }
  .zoom{
    display: inherit;
    width: calc(100% - 40px);
    margin: -10px 0px 20px 20px;
    background-color: #ffffff;
    border-bottom: solid 1px #e6e6e6;
    border-top: solid 1px #e6e6e6;
  }
  .zoom img{
    margin-top:20px;
  }
  .zoom p{
    color: #6ab344;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    white-space: nowrap;
    text-align: center;
  }
  #zoom_1{
    width: 100%;
  }
  #img_1{
    width: 100px;
    height: auto;
  }
  #zoom_2{
    width: 100%;
  }
  #img_2{
    width: 100px;
    height: auto;
  }
  #zoom_3{
    width: 100%;
  }
  #img_3{
    width: 100px;
    height: auto;
  }
  #zoom_4{
    width: 100%;
    padding-right: 0px;
  }
  #img_4{
    width: 200px;
    height: auto;
  }
  #zoom_5{
    width: 500px;
    height: 245px;
    background: url(../img/auto-on_mobile.jpg) 0 -240px;
    margin-top: 20px;
    background-size: 600px 243px;
    border-bottom: #ffffff;
    border-bottom: #ffffff;
  }
  #zoom_5 p{
    padding: 0;
    text-align: center;
  }
  /*** section_3 ***/
  #section_3{
    margin-top: 1320px;
  }

  /*** section_5 ***/
  #section_5 .contenido_info .bloque, 
  #section_5 .contenido_info .bloque .info_imagen{
      width: 100%;
      height: auto;
  }

  #section_5 .bloque{
    margin: 10px 0;
    box-shadow: none;
    border-top: solid 2px #e6e6e6;
    border-bottom: solid 2px #e6e6e6;
  }

  #section_5 h1{
    font-size: 30px;
    font-size: 30px;
    font-weight: 300;
    padding-left: 20px;
  }

  #contenido_info_2{
    display: block;
  }
  .contenido_info .bloque{
    width: 100%;
    display: inline-block;
    clear: both;
    box-shadow: 0px 5px 5px #888888;
    margin: 0px;
    border-radius: 2px;
  }
  .info h3{
    display: block;
    font-size: 17px;
    padding: 0;
    margin: 0;
    font-weight: normal;
  }
  .info p{
    display: none;
  }
  .info{
    height: auto;
  }

  #control_info{
    display: none;
  }
}
@media (max-width: 500px) {
  /*** Menú ***/
  #menu_icon_menu{
    width: 3%;
  }
  #menu_logo2{
    width: 3%;
  }
  #menu_lupa{
    width: 3%;
  }
  #icon_menu{
    margin-left: -13px;
  }
  #logo2{
    margin-left: -5px;
  }
  #lupa{
    margin-left: -13px;
  }

  /*** slider ***/
  .slide_text h1{
    font-size: 18px;
  }
  .slide_text h2{
    font-size: 18px;
  }
  #slider_img1 .slide_text h2{
    color: rgba(255,255,255,1);
    font-size: 18px;
  }
  .slide_text p{
    font-size: 14px;
  }
  .slide_text #img_1{
    height: 80px;
  }
  .width_200{
    width: 150px;
    float: right;
  }

  /*** section_2 ***/
  #zoom_5{
    width: 250px;
  }

  /*** sectio_3 ***/
  #section_3_info, 
  #section_4{
    padding: 20px 0px;
    width: 100%;
  }
  #section_3_info h2, 
  #section_4 h2{
    font-size: 28px;
    text-align: left;
  }
  #section_3_info h3, 
  #section_4 p{
    font-size: 18px;
    text-align: left;
  }

  /*** footer ***/
  #section_6 p{
    font-size: 14px;
  }
}
